[Unit]
Description=VPN Web UI
After=network.target
StartLimitIntervalSec=0

[Service]
User=pi
Group=pi
RestartSec=1
Restart=always
WorkingDirectory=/home/pi/vpn-toggle
ExecStart=/usr/bin/bash -lc 'bundle exec ruby main.rb'

[Install]
WantedBy=multi-user.target
